{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h1 class="display-4 text-primary text-center">Adicionar Cliente</h1>
    <hr class="border-primary border-2">

    <form action="/clientes/adicionar" method="POST">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" class="form-control shadow-sm" required>
        </div>
        <div class="form-group mt-3">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control shadow-sm" required>
        </div>
        <div class="form-group mt-3">
            <label for="phone">Telefone</label>
            <input type="text" id="phone" name="phone" class="form-control shadow-sm">
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-outline-primary btn-lg shadow-sm">Salvar Cliente</button>
        </div>
    </form>
</div>

{% endblock %}
